body {
    background-color:black;
}
div {
border-bottom-right-radius: 15px;
border-top-right-radius: 15px;
}
h1 {
    margin-top: 5px; 
    margin-bottom: 5px;
    margin-left: 10px;
    color:white ;
}
h2 {
    margin-top: 5px; 
    margin-bottom: 5px;
    margin-left: 10px;
    color:white ;
}
.first {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.second {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.third {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

img {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    height:200px;
    width: 200px;
}

.firstchild {
    background-color: white ;
    padding-left:15px;
}
button {
    background-color: blue;
    color: white;
    border: none;
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
}