body {
    background-color: black;
}
img{
    margin-top: 20px;
    width:200px;
    height:280px;
    border-radius: 7px;
}
.img {
    
    text-align: center;
}
div {
    color:white;
}
.button1 {
    text-align: center;
    margin-right: 80px;
     margin-left: 80px;

}
.b1 {
    
    text-align: center;
    background-color:yellow;
    color:black;
    border: none;
    border-radius: 7px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.b2 {
    
    text-align: right;
    background-color: blue;
    color:white;
    border: none;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 7px;
    padding-left: 13px;
    padding-right: 13px;
}

h1,h6 {
    text-align: center;
    margin: 0.50em;
}

p{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 15px;
}

h6{
    color:rgb(102, 100, 100) ;
}